.calculGainCrypto-container {
    display: flex;
    flex-direction: column;
}

.calculGainCrypto-input {
    background-color: var(--background-color-button);
    border-radius: 20px;
    color: white;
    text-align: center;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}