.animated-sentence {
    font-size: 1.8rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
  }

.animated-wrapper {
    display: inline-block;
    width: 25rem;
    color: rgb(198, 199, 242);
  }
  
  .fade-text {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
  }
  
  .fade-text.hidden {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .fade-text.visible {
    opacity: 1;
    transform: translateY(0);
  }
