.btn-go-real-time {
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: 500;
    background-color: var(--background-color-button);
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: white;
}

.btn-go-real-time:active {
    background-color: rgb(68, 68, 98);
}