@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(47, 45, 75)!important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav .orbitron {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 2rem !important;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
    color: rgb(232, 232, 252) !important;
    font-weight: 500;
}

.nunito-body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

nav>.container {
    margin-left: 0.5rem;
}

.main-wrapper {
    flex: 1;
}

.main-container {
    color: #ffffff;
}

.header-navbar {
    position: relative;
}

.header-navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%; /* Centers the line horizontally */
    width: 80%; /* Line takes 80% of the width */
    height: 2px; /* Thickness of the line */
    background-color: rgb(232, 232, 252); /* Line color */
    border-radius: 2px; /* Rounded edges */
}

.logo {
    cursor: pointer;
}

.btn-user-group {
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    z-index: 5;
}

.btn-user { 
    z-index: 3;
    font-size: 0.8rem !important;
    border-radius: 0px !important;
}

.btn-user:first-child {
    border-top-left-radius: 0.7rem !important;
    border-top-right-radius: 0.7rem !important;
}

/* Last button: only bottom corners rounded */
.btn-user:last-child {
    border-bottom-left-radius: 0.7rem !important;
    border-bottom-right-radius: 0.7rem !important;
}

.user-buttons {
    padding: 20px;
}

.footer-button {
    cursor: pointer;
    transition : color 0.3s ease;
}

.footer-button:hover {
    color: rgb(89, 94, 135);
}

.intro-sentence {
    font-size: 1.3rem;
    padding : 0.5rem;
}

.btn-style {
    background-color: rgb(89, 94, 135);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    padding: 0.5em 1em;
}

.btn-create-account {
    padding: 1rem 1rem;
    width: 400px;
}

.btn-style:hover {
    background-color: rgb(198, 199, 242);
}

.warning-sentence {
    font-size: 0.8rem;
    color: rgb(198, 199, 242);
    font-style: italic;
    padding : 0.5rem ;
}   